<html>
<head>
       <title>Rümeysa'nın Blogu</title>
   </head>
<body>
   <div>
     <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">İlk Blogum</a></h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. </p>
        </div>
        <div>
            <p>published: 14.06.2014, 12:20</p>
            <p>Web Siteme Hoşgeldiniz!Ben Rümeysa.</p>
            <p>Yaşamın incelikleri ile karşınızdayım!</p>
        </div>
</body>
</html>
